
<p>LAT: {{_searchMapService.lat}}</p>
<p>LNG: {{_searchMapService.lng}}</p>
<p>ZOOM: {{zoom}}</p>

<agm-map [latitude]="_searchMapService.lat" [longitude]="_searchMapService.lng" [zoom]="zoom">
  
  <agm-data-layer 
    *ngIf="wardDataObject" 
    [geoJson]="wardDataObject" 
    [style]="wardStyle" >
  </agm-data-layer>
  <agm-data-layer 
    *ngIf="wardDataObject && divisionDataObject" 
    [geoJson]="divisionDataObject" 
    (layerClick)="clicked($event)" 
    [style]="divisionStyle" >
  </agm-data-layer> 
  <agm-marker 
    [latitude]="_searchMapService.lat" 
    [longitude]="_searchMapService.lng">
  </agm-marker>
  
</agm-map>