<div class="form-group">

  <input 
    placeholder="search for location" 
    autocorrect="off" 
    autocapitalize="off" 
    spellcheck="off" 
    type="text" 
    class="form-control" 
    #search 
    [formControl]="searchControl"
  >
</div>

<!-- Break -->

<p>Show = {{showInfo}}</p>

<agm-map 
  [styles]="mapStyles"
  [latitude]="coordinates.lat" 
  [longitude]="coordinates.lng" 
  [zoom]="zoom"
  >
  <agm-snazzy-info-window 
    [isOpen]="showInfo" 
    [latitude]="infoCoordinates?.lat" 
    [longitude]="infoCoordinates?.lng" 
    >
    <ng-template>
      My first Snazzy Info Window!
    </ng-template>
  </agm-snazzy-info-window>
  <agm-data-layer 
    *ngIf="wardDataObject" 
    [geoJson]="wardDataObject" 
    [style]="wardStyle" >
  </agm-data-layer>
  <agm-data-layer 
    *ngIf="wardDataObject && divisionDataObject" 
    [geoJson]="divisionDataObject" 
    (layerClick)="clicked($event)" 
    [style]="divisionStyle" >
  </agm-data-layer> 
  <!-- <agm-marker 
    [latitude]="coordinates.lat" 
    [longitude]="coordinates.lng">
  </agm-marker> -->
  
</agm-map>